#my-sidebar {
    border: 1px solid black;
    height: auto;
    width: auto;
    margin-top: 3px;
    margin-left: 3px;
    margin-bottom: 3px;
    margin-right:3px;
}

.my-container {
    height: 60px;
    width: 98%;
    background-color: white;
    border-left: double #000000;
    border-right: double #000000;
    border-bottom: double #000000;
    border-top: 15px solid #00ace6;
    margin-bottom: 3px;
    margin-left: 3px;
    /*border: 6px outset #9a9;*/
    background: #efe;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}
/*
.container-inner {
    width: auto;
    height: 15px;
    background-color: #00ace6;
}
    */
#selection-year {
    padding: 2px;
    width: 42%;
    float: left;
    margin-top: 5px;
    margin-left: 2px;
}

#selection-country {
    padding: 2px;
    width: 42%;
    float: right;
    margin-top: 5px;
    margin-right: 2px;
}

#container-year {
    margin-top: 3px;
}
input[value=district] {
    padding: 2px;
    float: left;
    margin-top: 7px;
    margin-left: 1.4%;
    margin-right: 1.4%;
    font-size: 3.36%;
    text-decoration: none;
}

input[value=regional] {
    padding: 0.56%;
    margin-top: 1.96%;
    margin-left: 44.8%;
    font-size: 3.36%;
    text-decoration: none;
}
#district-radio {
    font-weight:normal;

}

#regional-radio {
    font-weight: normal;
    margin-left:0.56%;
}
#selection-district-pop {
    margin-left: 1.4%;
    width: 93.8%;
    margin-top: 7px;
}
#selection-regional-pop {
    margin-left: 1.4%;
    width: 93.8%;
    margin-top: 7px;
}

/* District data selection window*/
.container-data {
    height: 150px;
    width: 98%;
    background-color: white;
    border-left: double #000000;
    border-right: double #000000;
    border-bottom: double #000000;
    border-top: 15px solid #00ace6;
    margin-bottom: 3px;
    background: #efe;
    -webkit-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
    -moz-box-shadow: 5px 5px 15px rgba(0,0,0,0.4);
}

#data-group-dist {
}

#container-district-pop-data {
    float: left;
    /*max-height: 300px;*/
    overflow-y: scroll;
    /*overflow-x: scroll;*/
    margin-left: 3px;
}

#container-district-pop-data-col {
    /*margin-left: 138px;*/
    margin-left: 3px;
    /*max-height: 300px;*/
    overflow-y: scroll;
    /*overflow-x: scroll;*/
}

#container-district-pop-data-age {
    float: left;
    /*max-height: 300px;*/
    overflow-y: scroll;
    /*overflow-x: scroll;*/
    margin-left: 3px;
}

#container-district-pop-data-cols-age-group {
    /*margin-left: 138px;*/
    margin-left: 3px;
    /*max-height: 300px;*/
    overflow-y: scroll;
    /*overflow-x: scroll;*/
}
/* District data selection window*/

/* Regional data selection window*/

/* Regional data selection */
#regional-data-regions {
    float: left;
    /*max-height: 300px;*/
    overflow-y: scroll;
    /*overflow-x: scroll;*/
    margin-left: 3px;
}

#regional-data-columns {
    /*margin-left: 138px;*/
    margin-left: 3px;
    /*max-height: 300px;*/
    overflow-y: scroll;
    /*overflow-x: scroll;*/
}

/* Regional data selection age group*/
#regional-data-regions-age-group {
    float: left;
    /*max-height: 300px;*/
    overflow-y: scroll;
    /*overflow-x: scroll;*/
    margin-left: 3px;
}

#regional-data-age-group-columns {
    /*margin-left: 138px;*/
    margin-left: 3px;
    /*max-height: 300px;*/
    overflow-y: scroll;
    /*overflow-x: scroll;*/
}

/* Regional data selection nationality*/
#regional-data-regions-nationality {
    float: left;
    /*max-height: 300px;*/
    overflow-y: scroll;
    /*overflow-x: scroll;*/
    margin-left: 3px;
}

#regional-data-nationality-columns {
    /*margin-left: 138px;*/
    margin-left: 3px;
    /*max-height: 300px;*/
    overflow-y: scroll;
    /*overflow-x: scroll;*/
}

/* Regional data selection religious affiliation*/
#regional-data-regions-religious-affiliation {
    float: left;
    /*max-height: 300px;*/
    overflow-y: scroll;
    /*overflow-x: scroll;*/
    margin-left: 3px;
}

#regional-data-religious-affiliation-columns {
    /*margin-left: 138px;*/
    margin-left: 3px;
    /*max-height: 300px;*/
    overflow-y: scroll;
    /*overflow-x: scroll;*/
}

/* Regional data selection ethnicity*/
#regional-data-regions-ethnicity {
    float: left;
    /*max-height: 300px;*/
    overflow-y: scroll;
    /*overflow-x: scroll;*/
    margin-left: 3px;
}

#regional-data-ethnicity-columns {
    /*margin-left: 138px;*/
    margin-left: 3px;
    /*max-height: 300px;*/
    overflow-y: scroll;
    /*overflow-x: scroll;*/
}
.display-data {
    float: right;
    background-color: #00ace6;
    color:white;
    margin-top:5px;
    padding: 7px 32px;
    text-decoration:none;
    text-align:center;

}
    .display-data:hover {
        background-color: #4d4dff;
    }
.data-check-box-label {
    font-weight: normal;
    font-size: 12px;
    width: 100%;
    /*overflow-x:auto;*/
}
.data-text {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    
    position: relative;
    
}
    .data-text span {
        background-color: #00ace6;
        color: white;
    }
    /*Style Tables*/
.my-tables {
    font-size: 12px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:5px;
    margin-bottom:5px;
    
}
#mychart {
    overflow-y: scroll;
    overflow-x:scroll;
}

.my-tables table {
    width: 640px;
    border-collapse: collapse;
    border-spacing: 0;
}

.my-tables td, .my-tables th {
    border: 1px solid #CCC;
}
.my-tables th{
    background:#5dc9ee;
}
.table-title {
    font-size: 20px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color:#002fe6;
    font-weight:bold;
    /*align-self:center;*/
    margin-left:200px;
    text-decoration:underline;
}
